<nav class="sidebar bg-secondary text-white p-3 shadow">
    <h3>Menu</h3>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">


            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'accounts:details' %}" class="nav-link text-white">Home</a>
                </li>

                <li>
                    <a href="{% url 'leave_requests:calendar_view' %}" class="nav-link text-white">Calendar</a>
                </li>

                <li>
                    <a href="#" class="nav-link text-white">Leave Requests</a>
                </li>

                <li>
                    <a href="#" class="nav-link text-white">My Leave Balance</a>
                </li>

                <li class="mt-2">
                    <form action="{% url 'accounts:logout'%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link text-info border-0 bg-transparent p-0 ms-3">
                            Logout
                        </button>
                    </form>
                </li>

            {% else %}
                <li>
                    <a href="{% url 'accounts:login' %}" class="nav-link text-white">Login</a>
                </li>

                 <li>
                    <a href="{% url 'accounts:register' %}" class="nav-link text-white">Register Employee</a>
                </li>

            {% endif %}


        </ul>
    <hr>
</nav>